.home{
    background:  #e0f7fa;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.flex{

    display: flex;
    justify-content: center;
    align-items: center;
   
}

.navbar-brand img {
  border-radius: 50%; /* completamente redondo */
  object-fit: cover;   /* asegura que la imagen no se distorsione */
}