<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <div class="col" *ngFor="let contacto of contactos">
      <div class="card h-100 shadow-hover">
        <img [src]="contacto.imagen" class="card-img-top hero-img" alt="{{ contacto.nombre }}">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ contacto.nombre }} {{ contacto.apellido }}</h5>
          <p class="card-text mb-1">
            <strong>Email:</strong>
            <a href="mailto:{{ contacto.email }}" class="email-link">{{ contacto.email }}</a>
          </p>
          <p class="card-text"><strong>Teléfono:</strong> {{ contacto.telefono }}</p>
          
          <div class="mt-auto d-flex justify-content-between gap-2  p-3">
            <button class="my-btn btn-delete" (click)="deleteContacto(contacto.id)">
              Borrar
            </button>
            <button class="my-btn btn-update" (click)="editContacto(contacto)">
              Actualizar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




