<div class="container mt-5 p-5">
  <div class="card shadow p-4 mx-auto" style="max-width: 500px;">
    <h2 class="text-center mb-4">
      {{ isEditing() ? 'Actualizar contacto' : 'Añadir nuevo contacto' }}
    </h2>

    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nombre"
               [(ngModel)]="formState().nombre" name="nombre" required />
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Apellido"
               [(ngModel)]="formState().apellido" name="apellido" required />
      </div>

      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Email"
               [(ngModel)]="formState().email" name="email" required />
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Teléfono"
               [(ngModel)]="formState().telefono" name="telefono" required />
      </div>

      <div class="text-center d-flex justify-content-center gap-3">
        <button type="submit" class="my-btn btn-update">
          {{ isEditing() ? 'Actualizar' : 'Añadir' }}
        </button>
        
        <!-- Mostrar botón cancelar solo cuando mostrarCancelar sea true -->
        @if (mostrarCancelar()) {
          <button type="button" class="my-btn btn-delete" (click)="onCancel()">
            Cancelar
          </button>
        }
      </div>
    </form>
  </div>
</div>



